# App (local, fora do Docker)
DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@localhost:5432/<DB_NAME>?schema=public"

# App (rodando em container, host do banco = postgres)
DATABASE_URL_DOCKER="postgresql://<DB_USER>:<DB_PASSWORD>@postgres:5432/<DB_NAME>?schema=public"

POSTGRES_USER="<DB_USER>"
POSTGRES_PASSWORD="<DB_PASSWORD>"
POSTGRES_DB="<DB_NAME>"

JWT_SECRET="<JWT_SECRET>"
PORT=3333


# email and password for admin and member users registered in the database, used in tests
ADMIN_USER=
ADMIN_PASSWORD=

MEMBER_USER=
MEMBER_PASSWORD=